{% extends 'accounts/main.html'%}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h2>Exercises</h2>

<table>
  <tr>
    <th>Student Number</th>
    <th>Update Date</th>
    <th>Solution</th>
    <th>Mark</th>

  </tr>
  {% for solution in solutions %}
  <tr>
    <td>{{solution.student.student_id}}</td>
    <td>{{solution.date_created}}</td>
    <td>
      <a href="{{ solution.file.url }}" class="btn btn-primary btn-sm">
        Download File
      </a>
    </td>
    <td>
      {% if solution.mark == None %}
      <a href="{% url 'giving_score' solution.id %}">Click Here For Giving Score</a>
      {% else %}
        <p>{{solution.mark}}</p>
      {% endif %}
    </td>
  </tr>
  {% endfor %}


</table>

{% endblock content %}