{% extends 'accounts/main.html'%}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h2>Student Panel</h2>

<table>
  <tr>
    <th>Student Number</th>
    <th>Date Updated</th>
    <th>Submit Answer</th>
  </tr>
  {% for exercise in exercises %}
  <tr>
    <td>{{exercise}}</td>
    <td>{{exercise.date_created}}</td>
    <td><a href="{% url 'submit_answer' exercise.id %}">Enter</a></td>
  </tr>
  {% endfor %}

</table>

<br>

<div class="container">
  {% for x in videos %}
  <h3 class="text-center mt-2 mb-2"><a href="{% url 'video' x.id %}">{{x.caption}}</a></h3>
  {% endfor %}
</div>


{% endblock content %}