{% extends 'accounts/main.html'%}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h2>Teacher Panel</h2>

<table>
  <tr>
    <th>Student Number</th>
  </tr>
  {% for exercise in exercises %}
  <tr>
    <td><a href="{% url 'exercise' exercise.id %}">{{exercise}}</a></td>
  </tr>
  {% endfor %}

</table>
<hr>
  <h2><a href="{% url 'exercise_form' %}">Add More Exercises</a></h2>
  <hr>
<div class="container">
  {% for video in videos %}
  <h3 class="text-center mt-2 mb-2"><a href="{% url 'video' video.id %}">{{video.caption}}</a></h3>
  {% endfor %}
</div>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit" class="btn btn-primary">Upload Video</button>
</form>

{% endblock content %}